* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}

h1 {
  margin-bottom: 20px;
}

.card {
  width: 300px;
  margin-top: 30px;
  padding: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 10px 0px;
  background-color: #ffffff;
  border-radius: 10px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border-color: #dbdbdb;
}

button {
  float: right;
  padding: 5px 20px;
  background-color: #dbdbdb;
  color: #a8a8a8;
  border-color: #e8f4ff;
}

.card-result {
  margin-top: 20px;
}

h4 {
  margin-bottom: 10px;
}

span {
  color: rgb(132, 255, 104);
}

.error {
  color: #ff0000;
}