body {
  margin: 40px;
  background-color: #e1e1e1;
}

form {
  width: 300px;
  margin-left: 50px;
  padding: 20px 10px;
  padding-bottom: 40px;
  background-color: #fff;
  border-radius: 10px;
}

input {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
}

label {
  /* margin-bottom: 10px; */
  font-size: 20px;
  /* margin-bottom: 10px !important; */
  font-weight: bold;
  color: blue;
  float: left;
}

textarea {
  margin-top: 10px;
}

button {
  float: right;
  padding: 5px 20px;
  border: none;
  background-color: skyblue;
  color: white;
  border-radius: 10px;
}

h1 {
  margin-top: 0;
}

.error {
  color: red;
}

table {
  padding: 26px 20px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
}

td {
  padding: 20px;

}

a {
  margin-top: 10px;
  padding: 5px 10px;
  background: white;
  text-decoration: none;
  transition: .8s;
  border-radius: 10px;
}

.del {
  border: 1px solid red;
  color: red;
}

.warning {
  border: 1px solid rgb(100, 167, 0);
  color: rgb(6, 143, 13);
}

.del:hover {
  background-color: red;
  color: #fff;
}

.primary {
  color: rgb(46, 46, 255);
}

.warning:hover {
  background-color: rgb(100, 167, 0);
  color: #fff;
}

th {
  padding: 5px 0px;
}

h2 {
  width: 180px;
  margin-top: 5px;
  margin-bottom: -5px;
  padding: 10px;
  background: #fff;
  border-radius: 70px 82px 0 0;
}

.d-flex {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

span {
  margin-top: 10px;
}